/* General styles
-------------------------------------------------- */
body {
   margin:0
   padding: 0 0 40px 0; /* zero padding except 40 pixels on bottom */
}
.navbar-wrapper {
   margin:0;
}
.container {
   margin-top: 0;
}

* {
margin:0;
padding:0;
}

.iconFont{
	font-family: 'Varela Round', sans-serif;
	color:#002533;
	text-shadow:none;
}

.iconFont p{
	font-family: 'Varela Round', sans-serif;
	color:#fff;
	text-shadow:none;
}
.pageText{
	font-size: 2em;
	font-family: 'Varela Round', sans-serif;
	color:#000;
	text-decoration:none;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
	margin-top:0rem;
	margin-bottom:0rem;
  padding-top:0rem;
	background-color:#fff;

}

/* NEW Experiment Navbar styles
--------------------------------------------------
header[role="banner"] #logo-main {
	padding-left: 5%;
	margin: 2px auto;
}
#navbar-primary.navbar-default {
  background-color: #000;
  border: none;
}
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;
}
#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}
*/
/* original Navbar styles before experiment on contacts page
-------------------------------------------------- */
#MSlogo{
	margin:0;
	max-height:50%;
}

.bg-dark-custom{
	margin:0;
	padding:0;
}

.lc-custom{
	background-color: #015581;
	margin:0;
	padding-top:4%;
	min-width:16.7%;
	text-align:center;
	vertical-align:center;
	hyphens:auto;
}

.carousel-caption{
	color:#fff;
}

.carousel-inner {
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
vertical-align:middle;
  min-height:400px;
overflow:hidden;
max-width:58%;
  min-width: 370px;
  margin: 0 auto;
}

/*background-image: no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

height:100%;
max-width: 58%;
min-width: 370px;
margin: 0 auto;
*/

.lc-custom:hover {
  background-color:	rgba(66,113,174,0.3);
  color:#fff;
}

.navbar-toggler-custom{
	background-color:#015581;
}



/* Jumbotron styles
-------------------------------------------------- */
.jtron-custom{
  	background-image: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.headerPic{
    left: 0;
    top: 0;
    width: 100%;
	min-height:25rem;
	margin:0;
	padding:0;
}


/* Centered text */
.pgtitle {
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20%;
    left: 0;
	background-color:rgba(170, 183, 52, 0.5);
	text-align:center;
	margin: auto;
	font-size: 2em;
	font-family: 'Varela Round', sans-serif;
	color:#fff;
}


#lgeHeader{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* footer styles
-------------------------------------------------- */

.footer-custom{
	font-family: 'Varela Round', sans-serif;
	text-shadow:none;
	color:#faf8eb;
	background-color:#015581;
	padding-top: 2%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  line-height: 30px; /* Vertically center the text there */
	color:#faf8eb;
}
/*Social media icons
-------------------------------------------------- */
.iconSize{
	width: 50%;
}

/*Responsive
-------------------------------------------------- */

.cus-Icon{
  margin:0;
  padding:3%;
	width: 50%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
	margin:0px;
	padding: 0px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*HOME PAGE
=======================================*/
.welcomeText{
	background-color:rgba(170, 183, 52, 0.5);
	text-align:center;
	margin: 0px 10%;
	color:#015581;
	font-size: 2em;
	font-weight:bold;
	font-family: 'Varela Round', sans-serif;
	text-shadow:none;
}

/*EVENTS PAGE
=======================================*/

.my-deck{
	margin-bottom: 5%;
}

.my-row{
	height: auto;
    margin-left: auto;
    margin-right: auto;
	   margin-bottom: 5%;
    width: 100%;
	border: 1px solid #015581;
	border-radius: 25px;
	padding:0.5em;
}

.my-icon{
	width:100%;
  	border-radius: 25px;
}

.our-icon{
	margin-left: auto;
    margin-right: auto;
	margin-top:3%;
}


.my-colL{
	background-color:#015581;
	color:#D7E5EE;
	text-align:center;
	vertical-align:middle;
	font-size:2em;
	border-radius:25px;
	padding:2em;
}

.my-colR{
	background-color:#fff;
	padding:2em;
}



 /*ticker*/

 @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .tcontainer{
	margin-top: 0;
    width: 100%;
    overflow: hidden;
	background-color: #003A5C;
  }
  .ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: #BDBC3E;
  }
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 10s;
  }
  .ticker-move:hover{
    animation-play-state: paused;
  }
  div.ticker-item{
	font-family:courier new;
	color: #003A5C;
	font-size: 36px;
    display: inline-block;
    padding: 0 2rem;
	z-index: 10;

  }
 .UpInfo {
	 position: relative;
	 display: block;
	 color:black;
	 font-size: 14px;
	 padding-top: 60px;
	 padding-left: 40px;
	 padding-right: 40px;
 }



/*EQUIPMENT PAGE
=======================================*/
.btn-dark-my{
	background-color:#4287ae;
	color:#fff;
}

.btn:hover {
	background-color:#EBEED3;
	color: #015581;
}

.cus-image{
  border-radius: 25px;
}


/*PROJECTS PAGE
=======================================*/
div.code{
  width: 100%;
  float: center;
  padding: 3% 20% 3% 20%;
}

div.computer{
  width: 100%;
  float: center;
  padding: 0 20% 3% 20%;
}

div.maker{
  width: 100%;
  float: center;
  padding: 0 20% 3% 20%;
}

div.cyberSec{
  width:100%;
  float: center;
  padding: 0 20%;
}

.responsive{
  max-width:1000px;
  height:auto;
}

.btn {
    background-color: #D0D696;
    color: #015581;
	border: 1px;
	border-color: #4287AE;
	font-weight: 1.5em;
    padding: 12px 30px;
    font-size: 20px;
}




/*CONTACTS PAGE
=======================================*/
.my-colIconL{
	text-align:center;
	vertical-align:middle;
	border-radius:25px;
	padding:2em;
}
.my-colIconR{
	color:#015581;
	padding:2em;
}



/*moves ticker up for various devices
=======================================*/

/*iPhoneX,iPhone6/7/8*/
@media screen and (width: 375px) {

  .iconSize{
  	width: 50%;
  }

}

/*pixel,pixel2L,iPhone6/7/8 plus*/
@media screen and (max-width: 414px){

}

/*galaxyS5,iPhone5/SE*/

@media screen and (max-width: 360px){


}
/*iPad/iPadPro*/
@media screen and (max-width: 1024px){

  .iconSize{
    width: 80%;
  }
}

@media screen and (width: 320px){

}
