/* General styles
-------------------------------------------------- */
body {
   margin:0
   padding: 0 0 40px 0; /* zero padding except 40 pixels on bottom */
}

header {
  margin-top:0;
  padding:0;
}

.navbar-wrapper {
   margin:0;
}
.container {
   margin-top: 0;
}

* {
margin:0;
padding:0;
}

.iconFont{
	font-family: 'Varela Round', sans-serif;
	color:#002533;
	text-shadow:none;
}

.iconFont p{
	font-family: 'Varela Round', sans-serif;
	color:#fff;
	text-shadow:none;
}
.pageText{
	font-size: 2em;
	font-family: 'Varela Round', sans-serif;
	color:#000;
	text-decoration:none;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
	margin-top:0rem;
	margin-bottom:0rem;
  padding-top:0rem;
	background-color:#fff;

}

/* original Navbar styles before experiment on contacts page
-------------------------------------------------- */
#MSlogo{
	margin:0;
  margin-top:0;
  padding:0;
	max-height:50%;
  max-width: 600px;
}

.bg-dark-custom{
	margin:0;
	padding:0;
}
navbar-brand-cus {
  max-width: 300px;
}

.lc-custom{
	background-color: #015581;
	margin:0;
  padding:4% 4% 0 4%;
	max-width:25%;
	text-align:center;
	vertical-align:center;
	hyphens:auto;
}
/*home page need special styling*/
.lc-custom-hm{
padding-top: 4%;
}

.hm2{
padding: 6% 6% 0 6%;
}

.lc-custom:hover {
  background-color:	rgba(66,113,174,0.4);
  color:#fff;
}

.navbar-toggler-custom{
	background-color:#015581;
}

/* Home page carousel styles
-------------------------------------------------- */
div#myCarousel.carousel.slide {
  margin-right: auto;
  margin-left: auto;
}

#myCarousel{
  margin-top:-25px;
  padding:0;
  background-image: linear-gradient(to right, #015581, #000, #000, #015581);
    height: 400px;
}

.carousel {
  padding:0;
  height: 600px;
  margin: 0 auto;
}

.carousel-caption {
  z-index: 10;
  	color:#fff;
  text-shadow: none;
}

/*added gradient background image, to display slides w/o stretch */
.carousel-inner > .carousel-item > img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:0;
  min-width: 58%;
  height: 400px;
  box-shadow: 3px 3px 33px 26px rgba(0,0,0,0.3) inset;
  -webkit-box-shadow: 3px 3px 33px 26px rgba(0,0,0,0.3) inset;
  -moz-box-shadow: 3px 3px 33px 26px rgba(0,0,0,0.3) inset;
  }


/* Jumbotron styles
-------------------------------------------------- */
.jtron-custom{
  	background-image: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.headerPic{
    left: 0;
    top: 0;
    width: 100%;
	  min-height:25rem;
	  margin:0;
  	padding:0;
}


/* Centered text */
.pgtitle {
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20%;
    left: 0;
	background-color:rgba(170, 183, 52, 0.5);
	text-align:center;
	margin: auto;
	font-size: 2em;
	font-family: 'Varela Round', sans-serif;
	color:#fff;
}


#lgeHeader{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* footer styles
-------------------------------------------------- */

.footer-custom{
	font-family: 'Varela Round', sans-serif;
	text-shadow:none;
	color:#faf8eb;
	background-color:#015581;
	padding-top: 2%;
}

.footer-custom h2{
  color:#d0d696;
}

.footer-custom p {
    padding-left:3%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  line-height: 30px; /* Vertically center the text there */
	color:#faf8eb;
}

.footer-custom hr {
    border:2px solid white;
}


/*Social media icons
-------------------------------------------------- */
.iconSize{
	width: 50%;
}

/*Responsive
-------------------------------------------------- */

.cus-Icon{
  margin:0;
  padding:3%;
	width: 50%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
	margin:0px;
	padding: 0px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*HOME PAGE
=======================================*/
.welcomeText{
	background-color:rgba(170, 183, 52, 0.5);
	text-align:center;
	margin: 0px 10%;
	color:#015581;
	font-size: 2em;
	font-weight:bold;
	font-family: 'Varela Round', sans-serif;
	text-shadow:none;
}

/*EVENTS PAGE
=======================================*/

.my-deck{
	margin-bottom: 5%;
}

.my-row{
	height: auto;
    margin-left: auto;
    margin-right: auto;
	   margin-bottom: 5%;
    width: 100%;
	border: 1px solid #015581;
	border-radius: 25px;
	padding:0.5em;
}

.my-icon{
	width:100%;
  	border-radius: 25px;
}

.our-icon{
	margin-left: auto;
    margin-right: auto;
	margin-top:3%;
}


.my-colL{
	background-color:#015581;
	color:#D7E5EE;
	text-align:center;
	vertical-align:middle;
	font-size:2em;
	border-radius:25px;
	padding:2em;
}

.my-colR{
	background-color:#fff;
	padding:2em;
}



 /*ticker*/

 @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .tcontainer{
	  margin-top: 0;
    width: 100%;
    overflow: hidden;
	  background-color: #003A5C;
  }
  .ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color:  #ADB4BA;
  }
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 10s;
  }
  .ticker-move:hover{
    animation-play-state: paused;
  }
  div.ticker-item{
	font-family:courier new;
  text-transform:uppercase;
	color: #000;
	font-size: 36px;
    display: inline-block;
    padding: 0 2rem;
    font-weight: bolder;
	z-index: 10;

  }
 .UpInfo {
	 position: relative;
	 display: block;
	 color:black;
	 font-size: 14px;
	 padding-top: 60px;
	 padding-left: 40px;
	 padding-right: 40px;
 }



/*EQUIPMENT PAGE
=======================================*/
.eq-page {
  padding: 0 15%;
}

.btn-dark-my{
	background-color:#4287ae;
	color:#fff;
}

.btn:hover {
	background-color:#EBEED3;
	color: #015581;
}

.cus-image{
  border-radius: 25px;
}

/*CLUBS PAGE
=======================================*/
#cyberClub{
  margin-top: 3%;
}

.info-list li{
  list-style-type:none;
  padding-left: 3%;
}


/*PROJECTS PAGE
=======================================*/
div.code{
  width: 100%;
  float: center;
  padding: 3% 20%;
}

div.computer{
  width: 100%;
  float: center;
  padding: 0 20%;
}

div.maker{
  width: 100%;
  float: center;
  padding: 0 20%;
}

div.cyberSec{
  width:100%;
  float: center;
  padding: 0 20%;
}

.responsive{
  max-width:90%;
  height:auto;
}

.btn {
    background-color: #D0D696;
    color: #015581;
	  border: 1px;
	  border-color: #4287AE;
	  font-weight: 1.5em;
    padding: 12px 30px;
    font-size: 20px;
}




/*CONTACTS PAGE
=======================================*/
.my-colIconL{
	text-align:center;
	vertical-align:middle;
	border-radius:25px;
	padding:2em;
}
.my-colIconR{
	color:#015581;
	padding:2em;
}



/*Media queries for various devices
=======================================*/

/*iPhoneX,iPhone6/7/8*/
@media screen and (width: 375px) {

  .iconSize{
  	width: 30%;
  }

  #MSlogo{
    width: 100%;
  }
}

/*pixel,pixel2L,iPhone6/7/8 plus*/
@media screen and (max-width: 414px){
  .iconSize{
  	width: 30%;
  }

  #MSlogo{
    width: 100%;
  }
}

/*galaxyS5,iPhone5/SE*/

@media screen and (max-width: 360px){
  .iconSize{
  	width: 30%;
  }

  #MSlogo{
    width: 100%;
  }

}
/*iPad*//*iPadPro*/
@media screen and (max-width: 1024px){

  .iconSize{
    width: 30%;
  }

  #MSlogo{
    width: 100%;
  }

}

/*desktop*/
@media screen and (min-width: 1280px){

  #MSlogo{
    width:100%;
  }

}
